<div layout="row" layout-align="center center" ng-controller="PostController" ng-init="GetPosts()">
    <ul align-items:center flex-gt-xs="50" layout-margin>
        <md-card class="card" ng-repeat="item in userPosts">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{item.Title}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>
                    {{item.Description}}
                </p>
            </md-card-content>
        </md-card>
    </ul>
</div>